## Deliverable 2. Create a Customer Travel Destinations Map.

In [10]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [11]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Port Alfred,ZA,-33.5906,26.8910,56.17,97,100,1.99,overcast clouds
1,1,Carutapera,BR,-1.1950,-46.0200,75.85,88,80,5.82,broken clouds
2,2,Ushuaia,AR,-54.8000,-68.3000,31.66,86,100,21.85,snow
3,3,Rikitea,PF,-23.1203,-134.9692,73.35,75,0,3.98,clear sky
4,4,Punta Arenas,CL,-53.1500,-70.9167,35.62,80,75,23.02,broken clouds

In [14]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 

min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 45
What is the maximum temperature you would like for your trip? 67

In [15]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.

cities_preferred_df = city_data_df.loc[(city_data_df["Max Temp"] >= min_temp) & (city_data_df["Max Temp"] <= max_temp)]
cities_preferred_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Port Alfred,ZA,-33.5906,26.8910,56.17,97,100,1.99,overcast clouds
5,5,Simao,CN,22.7886,100.9748,65.64,98,100,2.08,overcast clouds
9,9,Barrow,US,71.2906,-156.7887,51.82,62,100,6.91,overcast clouds
11,11,Saint-Augustin,CA,51.2260,-58.6502,56.91,87,100,14.16,overcast clouds
12,12,Klaksvik,FO,62.2266,-6.5890,49.12,91,98,18.70,overcast clouds

In [16]:
# 4a. Determine if there are any empty rows.

print(len(cities_preferred_df))
cities_preferred_df.count()

168

City_ID                168
City                   168
Country                161
Lat                    168
Lng                    168
Max Temp               168
Humidity               168
Cloudiness             168
Wind Speed             168
Current Description    168
dtype: int64

In [17]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.

clean_df = cities_preferred_df.dropna(axis="index", how="any")
print(len(clean_df))
clean_df.head()

161

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Port Alfred,ZA,-33.5906,26.8910,56.17,97,100,1.99,overcast clouds
5,5,Simao,CN,22.7886,100.9748,65.64,98,100,2.08,overcast clouds
9,9,Barrow,US,71.2906,-156.7887,51.82,62,100,6.91,overcast clouds
11,11,Saint-Augustin,CA,51.2260,-58.6502,56.91,87,100,14.16,overcast clouds
12,12,Klaksvik,FO,62.2266,-6.5890,49.12,91,98,18.70,overcast clouds

In [18]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Port Alfred,ZA,56.17,overcast clouds,-33.5906,26.8910,
5,Simao,CN,65.64,overcast clouds,22.7886,100.9748,
9,Barrow,US,51.82,overcast clouds,71.2906,-156.7887,
11,Saint-Augustin,CA,56.91,overcast clouds,51.2260,-58.6502,
12,Klaksvik,FO,49.12,overcast clouds,62.2266,-6.5890,
14,Antanifotsy,MG,49.32,overcast clouds,-19.6500,47.3167,
17,Mehamn,NO,51.75,clear sky,71.0357,27.8492,
18,Hov,NO,51.75,clear sky,71.0357,27.8492,
19,Bredasdorp,ZA,56.17,overcast clouds,-33.5906,26.8910,
20,Taolanaro,MG,49.32,overcast clouds,-19.6500,47.3167,

In [19]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.

for index, row in hotel_df.iterrows():

    # 6c. Get latitude and longitude from DataFrame
    
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"

    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
   
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [20]:
# 7. Drop the rows where there is no Hotel Name.

clean_hotel_df = hotel_df.dropna(axis="index", how="any")
clean_hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Port Alfred,ZA,56.17,overcast clouds,-33.5906,26.8910,The Halyards Hotel
5,Simao,CN,65.64,overcast clouds,22.7886,100.9748,Changyu Hotel
9,Barrow,US,51.82,overcast clouds,71.2906,-156.7887,King Eider Inn
11,Saint-Augustin,CA,56.91,overcast clouds,51.2260,-58.6502,
12,Klaksvik,FO,49.12,overcast clouds,62.2266,-6.5890,Airbnb rooms
14,Antanifotsy,MG,49.32,overcast clouds,-19.6500,47.3167,Ilempona
17,Mehamn,NO,51.75,clear sky,71.0357,27.8492,Mehamn Arctic Hotel AS
18,Hov,NO,51.75,clear sky,71.0357,27.8492,Mehamn Arctic Hotel AS
19,Bredasdorp,ZA,56.17,overcast clouds,-33.5906,26.8910,The Halyards Hotel
20,Taolanaro,MG,49.32,overcast clouds,-19.6500,47.3167,Ilempona

In [21]:
# 8a. Create the output File (CSV)

output_data_file = "WeatherPy_vacation.csv"

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [22]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.

info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [28]:
# 11a. Add a marker layer for each city to the map. 

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.50)
markers = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(markers)

# 11b. Display the figure

fig

Figure(layout=FigureLayout(height='420px'))